@import "../styles/mixins";

.carousel-header {
  font-weight: bold;
  font-size: 150%;
  color: darkslategray;
  text-align: left;
  margin: 30px 0;
  @include for-tablet-landscape-up {
    margin: 2.5% 0 2.5% 0;
  }
}

.carousel-cards-wrap {
  display: flex;
  overflow: scroll;
  height: auto;
  z-index: 0;

  @include for-tablet-landscape-up {
    margin: 15px 0;
  }
}
.carousel-cards-wrap::-webkit-scrollbar {
  display: none;
}
