@import "../styles/mixins";
@import "https://fonts.googleapis.com/css?family=Lily+Script+One";

.card {
  position: relative;
  margin: 10px 10px;
  min-width: 300px;
  height: 300px;
  float: left;
  perspective: 900px;
  @include for-tablet-landscape-up {
    margin: 20px 20px;
    min-width: 300px;
    height: 300px;
  }
}

.content {
  position: absolute;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 5px $prim-green;
  border-radius: 4px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(-180deg);
  transition: transform 1s;
}

.front,
.back {
  display: flex;
  flex-direction: column;

  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: $prim-green;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: $prim-green;
  color: $bg-beige;
  transform: rotateY(-180deg);
}

/**** Content ****/
/**** Content ****/
/**** Content ****/
.project-title {
  margin: 10px 10px 0 10px;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  max-height: 80px;
  min-height: 80px;
}
.project-logo {
  position: relative;
  height: 80px;
  width: 100%;
  max-width: 60%;
  margin: 10px auto;
}
.project-tags-wrap {
  height: 110px;
  height: auto;
  margin: auto 10px;
  display: flex;
  flex-wrap: wrap;
}
.project-tags,
.project-link {
  width: auto;
  margin: 5px;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0.5em;
  background-color: $prim-green;
  color: $bg-beige;
}
.project-link {
  background-color: $bg-beige;
  color: $prim-green;
  font-weight: 800;
}
/***** Back *****/
.project-detail {
  font-size: 0.3em;
  margin: auto 25px;
}
