@import "../styles/mixins";

/** Home Menubar **/
.menubar {
  position: fixed;
  z-index: 5;
  height: 8vh;
  width: 100%;
  max-width: 100vw;
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  opacity: 100%;
  overflow: hidden;
}
.menubar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menubar-img-overlay {
  position: absolute;
}
.menubar-img-wrap {
  position: relative;
  opacity: 10;
  height: 100vh;
  width: 100vw;
}

.logo-wrap {
  height: 100%;
  width: 75px;
  position: relative;
  margin-left: 15px;
  @include for-tablet-landscape-up {
    margin-left: 25px;
    width: 100px;
  }
}

.menu-button-wrap {
  width: auto;
  height: 100%;
  display: flex;
  z-index: 5;
  margin-right: 6%;
  box-shadow: 1px 1px 15px black;
  opacity: 90%;
  :hover {
    transform: scale(0.98);
  }
}
.menu-button {
  margin: auto;
  cursor: pointer;
  background-color: $adobe;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 15px;
  @include for-tablet-landscape-up {
    padding: 10px 25px;
    font-size: 20px;
  }
}
