.dapp-categories-wrap {
  height: 100%;
  width: 100%;
}

.dapp-store-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 2.5% 0 5%;
  padding-top: 11vh;
}

.disclaimer-full {
  background-color: lightgrey;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
  color: darkslategray;
  border: 2.5px solid rgb(192, 192, 192);
  margin-right: 2.5vw;
}

.carousel-header {
  font-weight: bold;
  font-size: 150%;
  color: darkslategray;
  text-align: left;
  margin: 2.5% 0 2.5% 0;
}

.carousel-wrap {
  display: flex;
  overflow: scroll;
  height: 420px;
  z-index: 0;
}
.carousel-wrap::-webkit-scrollbar {
  display: none;
}

/** Project Card CSS **/

.projectcard {
  height: 420px;
  width: 255px;
  border: 5px rgb(8, 63, 8) double;
  border-radius: 8px;
  margin: 0 2.5vw 0 0;
}

.card-body {
  width: 245px;
  padding-top: 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.project-logo {
  max-width: 150px;
  max-height: 90px;
  margin: 0 auto;
  margin-bottom: 10%;
}

.project-title,
.meta-title {
  font-weight: bold;
  font-size: 140%;
  color: rgb(64, 72, 107);
  margin: 2.5% auto 7.5% auto;
  text-align: center;
}

.project-title {
  color: green;
  text-shadow: 1px 1px;
  font-size: 150%;
  padding-bottom: 5%;
}

.project-detail {
  font-size: 125%;
  color: darkslategray;
  margin: 0 auto 1% auto;
  text-align: center;
}

@media (max-width: 600px) {
  .disclaimer-full {
    font-size: 80%;
  }
}
