@import "mixins";

.dapp-project-wrap {
  height: 100%;
  width: 100%;
  background-color: rgb(252, 246, 241);
}

.project-wrap {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 8.5vh;
  background-color: white;
}
.project-top {
  border-bottom: 1px solid forestgreen;
  display: flex;
}
.project-top-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid forestgreen;
  padding: 0 1.5% 1% 1.5%;
}
.project-header {
  display: flex;
  flex-direction: column;
}
.prj-pg-logo-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.project-top-right {
  width: 55%;
  padding: 0 1.5%;
}

/** STATBAR **/
.prj-pg-stat-bar {
  display: flex;
  border-bottom: 1px solid forestgreen;
  height: 200px;
}
.statbar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 0 2.5%;
  border-right: 1px solid forestgreen;
  width: 20%;
}
.statbar-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 0 2.5%;
  border-right: 1px solid forestgreen;
  width: 30%;
}
/** Graphics **/
.project-bottom {
  display: flex;
  border-bottom: 1px solid forestgreen;
}
.screen-shots {
  width: 55%;
  border-right: 1px solid forestgreen;
  padding: 1%;
}
.project-reviews {
  width: 45%;
  display: flex;
}

/** CHART **/
.chart-description {
  background-color: lightgrey;
  font-weight: bold;
  font-size: 110%;
  text-align: left;
  color: darkslategray;
  border: 2.5px solid rgb(192, 192, 192);
  margin-right: 2.5vw;
}

@media (max-width: 660px) {
  .dapp-project-wrap {
    width: 100vw;
  }
  .project-top {
    flex-direction: column;
    width: 100vw;
  }
  .project-top-left {
    width: 100vw;
    padding: 1% 0;
    border-right: none;
    border-bottom: 1px solid green;
  }
  .project-top-right {
    width: 100vw;
    padding: 0 1.5%;
  }

  /** STATBAR **/
  .prj-pg-stat-bar {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid forestgreen;
    height: auto;
    width: 100vw;
  }
  .statbar-left,
  .statbar-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 1% 2.5%;
    border-bottom: 1px solid forestgreen;
    max-width: 100%;
    width: 100%;
  }

  /** GRAPHICS **/
  .project-bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .screen-shots {
    width: 100%;
    border-bottom: 1px solid forestgreen;
  }
  .project-reviews {
    width: 100%;
    display: flex;
  }
}
