@import "mixins";
/*** Total Wrap ***/
.dapp-project-wrap {
  height: 100%;
  width: 100%;
  background-color: $bg-beige;
}

.project-wrap {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/*** Components ***/
.project-top {
  display: flex;
  flex-direction: column;
  width: 100vw;
  border-bottom: 1px solid $prim-green;
  @include for-tablet-landscape-up {
    flex-direction: row;
    width: auto;
  }
}
.project-top-left {
  width: 100vw;
  padding: 1% 0;
  border-right: none;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  @include for-tablet-landscape-up {
    width: 45%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $prim-green;
    padding: 0;
    padding-top: 100px;
  }
}

.project-header {
  display: flex;
  flex-direction: column;
}
.dapp-provider {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  overflow: wrap;
  color: $prim-green;
  width: calc(100% - 35px);
  text-align: center;
  padding-left: 2.5%;
  margin: 0;

  letter-spacing: 4px;
  word-wrap: break-word;
  @include for-tablet-landscape-up {
    font-size: 40px;
    line-height: 70px;
    width: 100%;
  }
}
.social-bar {
  margin-bottom: 10px;
  display: flex;
  border-bottom: 1px solid $prim-green;
  border-top: 1px solid $prim-green;
  padding: 2.5% 0;
  justify-content: space-around;
  @include for-tablet-landscape-up {
    margin-bottom: 0;
  }
}
.prj-pg-logo-wrap {
  margin: 10px auto;
  width: 110px;
  height: 55px;
  display: flex;
  justify-content: center;
  position: relative;
  @include for-tablet-landscape-up {
    width: 220px;
    height: 110px;
  }
}
.audience-wrap {
  display: flex;
  justify-content: flex-start;
  margin: 2.5% 10px 1% 10px;
  @include for-tablet-landscape-up {
    margin: 10px 0;
  }
}
.primary-audience {
  margin: auto 15px auto 15px;
  font-weight: 700;
  color: $prim-green;
  @include for-tablet-landscape-up {
    font-size: 20px;
    margin: 0 15px 20px 0;
    border-bottom: 1px solid $prim-green;
  }
}
.audience-tag {
  font-weight: bold;
  text-align: center;
  width: auto;
  height: 100%;
  padding: 5px 25px;
  border-radius: 10px;
  margin: 0;
  background-color: $bg-beige;
  color: $prim-green;
  border: 1px solid $prim-green;
  &:hover {
    background-color: $prim-green;
    color: $bg-beige;
  }
}
.action-btn-wrap {
  padding: 20px 0;
  display: flex;
}
.actions-btn {
  display: none;
  @include for-tablet-landscape-up {
    display: block;
    width: 100px;
    text-align: center;
    font-weight: bold;
    padding: 1% 0;
    margin: auto;
    background-color: $green-highlight;
    color: $bg-beige;

    border-radius: 10px;
    box-shadow: 0px 0px 5px $prim-green;
  }
}
.title-wrap {
  display: flex;
  max-width: 100vw;
  margin-bottom: 20px;
  @include for-tablet-landscape-up {
    margin-bottom: 10px;
  }
}
.actions-btn-mobile {
  width: 25px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  margin: auto 0;
  background-color: $green-highlight;
  color: $bg-beige;
  border: 1px solid $bg-beige;
  border-radius: 10px;
  box-shadow: 0px 0px 5px $prim-green;
  @include for-tablet-landscape-up {
    display: none;
  }
}
/** Top Right **/
.project-top-right {
  width: 100vw;
  padding: 0 10px;

  @include for-tablet-landscape-up {
    width: 55%;
    padding: 0 1.5%;
    padding-top: 100px;
  }
}
.app-description {
  text-align: "left";
  margin: 5px auto 20px auto;
  @include for-tablet-landscape-up {
    margin: auto;
    font-size: 20px;
  }
}

/** STATBAR **/
.prj-pg-stat-bar {
  display: flex;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $prim-green;
  height: auto;
  width: 100vw;
  @include for-tablet-landscape-up {
    flex-direction: row;
    height: 200px;
    width: auto;
  }
}

.statbar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 20px 10px;
  border-bottom: 1px solid $prim-green;
  max-width: 100%;
  width: 100%;
  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 0 2.5%;
    border-right: 1px solid $prim-green;
    border-bottom: none;
    width: 20%;
  }
}

.statbar-left2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 20px 10px;
  border-bottom: 1px solid $prim-green;
  max-width: 100%;
  width: 100%;
  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 0 2.5%;
    width: 30%;
    border-right: 1px solid $prim-green;
    border-bottom: none;
  }
}
.stake-btn {
  font-weight: bold;
  width: 100%;
  padding: 1% 0%;
  margin-top: 20px;
  background-color: $green-highlight;
  text-align: center;
  color: $bg-beige;
  border-radius: 10px;
  box-shadow: 0px 0px 5px $prim-green;
  @include for-tablet-landscape-up {
    margin: 0;
    box-shadow: 0px 0px 5px $prim-green;
  }
}
.demo-btn {
  font-weight: bold;
  width: 100%;
  padding: 1% 0%;
  margin-top: 20px;
  background-color: $green-highlight;
  text-align: center;
  color: $bg-beige;

  border-radius: 10px;
  box-shadow: 0px 0px 5px $prim-green;
  @include for-tablet-landscape-up {
    box-shadow: 0px 0px 5px $prim-green;

    margin: 0;
  }
}
.statbar-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 20px 10px;
  border-bottom: 1px solid $prim-green;
  max-width: 100%;
  width: 100%;
  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 0 2.5%;
    border-bottom: none;
    width: 30%;
  }
}
/** Graphics **/
.project-bottom {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid $prim-green;
  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: row;
  }
}
.screen-shots {
  width: 100%;
  border-bottom: 1px solid $prim-green;
  padding: 20px 10px;
  @include for-tablet-landscape-up {
    width: 55%;
    border-right: 1px solid $prim-green;
    border-bottom: none;
  }
}
.project-reviews {
  width: 100%;
  display: flex;
  padding: 20px 10px;
  @include for-tablet-landscape-up {
    width: 45%;
    display: flex;
  }
}

/** CHART **/
.chart-description {
  background-color: lightgrey;
  font-weight: bold;
  font-size: 110%;
  text-align: left;
  color: darkslategray;
  border: 2.5px solid rgb(192, 192, 192);
  margin-right: 2.5vw;
}
